.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6333,#f6402e);

}
.header__navbar{
    display: flex;
    justify-content: space-between;

}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    
}

.header__navbar-list-item
{
   margin:0 4px;
   position: relative;
   min-height: 20px;
 
   
}
.header__navbar-list-item--has-notify:hover .header__notify {
    display: block;
}
.header__navbar-list-item--has-qr:hover .header__qr {
    display: block;
}
.header__navbar-list-item-link,
.header__navbar-list-item{
 display: inline-block;
 text-decoration: none;
 font-size: 1.4rem;
 color: var(--white-color);
 font-weight: 150;
}
.header__navbar-list-item-link,
.header__navbar-list-item,
.header__navbar-icon-link
{
    display: inline-flex;
    align-items: center;
}
.header__navbar-list-item-link:hover,
.header__navbar-list-item:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-list-item--strong{
    font-weight: 600;
}
.header__navbar-list-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: aliceblue;
    right: -5px;
    top:50%;
    transform: translateY(-50%);
    opacity: 0.4;
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
 
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin-left: 8px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
   
}
/* header qr code */
.header__qr {
    width: 220px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 130%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadein ease-in 0.8s;

}
@keyframes headerNotifyGrow {
    from{
        opacity: 0;
       transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__qr::before {
    position: absolute;
    height: 20px;
    width: 100%;
    content:"";
    display: block;
    left: 0;
    top: -12px;

}
.header__qr-img {

}
.header_qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
  height: 20px;
}
/* 2 cachs lấy ra class giống nhau
.header_qr-link:nth-child(n)n là thứ tự bất kì
.header_qr-link:first-child */
.header_qr-link:first-child {
    margin-left: 11px;
}
.header_qr-link:nth-child(2) {
margin-right: 13px;
}
/* header notification */
.header__notify {
    position:absolute;
    top: 210%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) top ;
    animation:headerNotifyGrow ease-in 0.5s ;
    -webkit-animation:headerNotifyGrow ease-in 0.5s ;
    -moz-animation: headerNotifyGrow ease-in 0.5s;
    -o-animation: headerNotifyGrow ease-in 0.5s;
    will-change: transform,opacity;
    display: none;
}
.header__notify::before {
    /* hoac su dung border-style:solid; border-width:20px 30px; tao ra hinh chu nhat => goc tu  */
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top:-40px;

}
.header__notify::after {
    content: "";
    display: block;
    width: 82px;
    height: 40px;
    position: absolute;
    top:-40px;
    right:0;


}
    
 
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    }
    .header__notify-header h3 {
        color: #999;
        margin: 0;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 40px;
        margin-left: 12px;
        cursor: text;
        user-select: none;
    }
.header__notify-list {
    padding-left: 0;
    }
.header__notify-item {
    display: flex;

    }
    .header__notify-item:hover {
       background-color:#f2f2f2;
    }
    .header__notify-item--viewed {
        background-color: rgba(238, 75, 43, 0.1);
    }

.header__notify-link {
    display: flex;
    padding: 8px;
    text-decoration: none;
     }
     
.header__notify-img {
    width: 48px;
    object-fit: contain;

    
    }
.header__notify-infor {
    margin-left: 8px;
    }
.header__notify-name {
    display: block;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--black-color);
    font-weight: 400;
    }
.header__notify-description {
    font-size: 1.2rem;
    display: block;
    color: #928a88;
   
    }
.header__notify-footer {
   display: flex;

}
.header__notify-footer-btn {
    text-decoration: none;
    margin: auto;
   color: var(--text-color);
   padding: 8px;
   font-size: 1.4rem;
   font-weight: 400;
}